<%-include("header")-%>

<div >
    
    <div class="box" id="heading">
        <h1>About Me</h1>
  </div>
</div>
<div class="boxabt">
    <p>
        This is Gouri Shankar B.Tech Student CSE(Iot) at Crescent Institute of Science And Technology.
        I love to code and listen music. I am very big fan of  "The Weeknd" music Artist.
        I love to travel alone. Very fond of reading philosphy books . Currently improving Web Dev skills 
        to get into a product based company so that i can surrounded by good developers and learn with them.
        Learning is never enough.... 
    </p>
    
</div>

<%-include("footer")-%>