html {
  background-color: #bad7e9;
  background-image: -webkit-linear-gradient(75deg, #eb455f 50%, #bad7e9 50%);
  min-height: 1000px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #fcffe7;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.boxabt {
  max-width: 900px;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 50px auto;
  background: #fcffe7;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
#heading {
  background-color: #eb455f;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fcffe7;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration-line: line-through;
  text-decoration-color: #eb455f;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #eb455f;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #eb455f;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #fcffe7;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
